# Wallet configuration
ANCHOR_WALLET=~/.config/solana/id.json

# Network configuration
ANCHOR_CLUSTER=devnet

# Optional: Override wallet to use basalt.json
SOLANA_WALLET=~/.config/solana/basalt.json

# Token configuration
COLLATERAL_MINT=B5o7is4JQ4azcoNA9U9oN5wQ4DuQmdwLviwudFtiLuZ9
USDRW_MINT=Bg7Qqfyh1vALNoN4FgvTGKcTt5sgiJD8YRGbmCQNXMeD
COLLATERAL_DECIMALS=9
USDRW_DECIMALS=6